In [1]:
import pandas as pd
import numpy as np

In [25]:
data=pd.read_csv(r"C:\Users\hithe\Downloads\imdb_anime.csv")
data.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN

In [28]:
data.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)
data.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)
data=data.astype({"User Rating":float,"Metascore":int,"Gross":int,"Episode":int,"Year":str})

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  float64
 3   Number of Votes  45717 non-null  object
 4   Runtime          45717 non-null  object
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  int32
 10  Gross            45717 non-null  int32
 11  Episode          45717 non-null  int32
 12  Episode Title    45717 non-null  object
dtypes: float64(1), int32(3), object(9)
memory usage: 4.0+ MB

## 1) How many unique anime are there

In [4]:
len(data['Title'].unique())

9851

## 2) Which anime have the highest rating

In [6]:
data.fillna({'User Rating':0},inplace=True)

In [7]:
data['User Rating'].replace({'User Rating':1.0},inplace=True)

In [8]:
data=data.astype({'User Rating':np.float16})

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  float64
 3   Number of Votes  45717 non-null  object
 4   Runtime          45717 non-null  object
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  int32
 10  Gross            45717 non-null  int32
 11  Episode          45717 non-null  int32
 12  Episode Title    45717 non-null  object
dtypes: float64(1), int32(3), object(9)
memory usage: 4.0+ MB

In [10]:
data.loc[data['User Rating']==data['User Rating'].max(),['Title','User Rating']]

                               Title  User Rating
13656                    Idaten Jump     9.898438
17874                   Vinland Saga     9.898438
22753                Attack on Titan     9.898438
34677                Hunter x Hunter     9.898438
39614  Legend of the Galactic Heroes     9.898438
45689                Attack on Titan     9.898438

## 3) What are the animes having the rating between 7.0 and 9.0

In [11]:
data.loc[(data['User Rating']>=7.0) & (data['User Rating']<=9.0),'Title'].unique()

array(['One Piece', 'Teenage Mutant Ninja Turtles: Mutant Mayhem',
       'The Super Mario Bros. Movie', ..., 'Blade Runner: Black Lotus',
       'Hero Mask', 'Juuni Taisen'], dtype=object)

In [12]:
len(data.loc[(data['User Rating']>=7.0) & (data['User Rating']<=9.0),'Title'].unique())

3111

## 4) Which anime having the highest and lowest run time

## 5) What is the runtime between ONE PIECE and THE SUPER MARIO BROS animes

## 6) Which is the oldest anime

## 7) What are the animes released in the year 2023

In [13]:
data.loc[data['Year']=='(2023)',['Title']]

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
21                    Ruby Gillman, Teenage Kraken
42                     Resident Evil: Death Island
...                                            ...
7965                                 Yomawari Neko
8558          Girls und Panzer das Finale: Part IV
8605                        Jinzô Mahô Shôjo Kaini
8840                             The Dog & The Boy
10314                           The Floating World

[105 rows x 1 columns]

## 8) What is the avg user rating of all the animes whose genre is action

In [24]:
def f1(a2):
    a1="Action"
    if a1 in a2:
        return True
    return False

a=data["Genre"].map(f1)
b=(a.values)
c=data[b]
c["User Rating"].mean()

5.439916306053545

## 9) Which anime has the least anime gross price

In [18]:
data['Gross'].fillna(0, inplace=True)
data['Gross'].replace({'Gross': 0}, inplace=True)
data['Gross'] = data['Gross'].astype(np.int64)

In [19]:
data.loc[data['Gross'].min(),['Title','Gross']]

Title    One Piece
Gross       187689
Name: 0, dtype: object

## 10) Which anime has the maximum anime gross price

In [14]:
data.loc[data['Gross']==data['Gross'].max(),['Title','Gross']]

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

## 11) How many animes belong to PG Certificate

In [23]:
len(data.loc[data['Certificate']=='PG',['Title']])

425

## 12) What is the avg votes in the dataset