In [2]:
import numpy as np
import pandas as pd

# DataSet-1

In [31]:
data1=pd.read_csv(r"C:\Users\hithe\Downloads\tipsf.csv")
data1

     Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0             0       16.99  1.01    0       0    1     0     2
1             1       10.34  1.66    1       0    1     0     3
2             2       21.01  3.50    1       0    1     0     3
3             3       23.68  3.31    1       0    1     0     2
4             4       24.59  3.61    0       0    1     0     4
..          ...         ...   ...  ...     ...  ...   ...   ...
239         239       29.03  5.92    1       0    0     0     3
240         240       27.18  2.00    0       1    0     0     2
241         241       22.67  2.00    1       1    0     0     2
242         242       17.82  1.75    1       0    0     0     2
243         243       18.78  3.00    0       0    2     0     2

[244 rows x 8 columns]

## 1) What is the total bill value

In [23]:
a=data1['total_bill']
print(sum(a))

4827.770000000001

## 2) What is the total tip value

In [24]:
b=data1['tip']
print(sum(b))

731.58

## 3) count how many sunday,saturday,thursdays,fridays are there

In [28]:
c1=data1.loc[data1['day']==0,['day']]
c2=data1.loc[data1['day']==1,['day']]
c3=data1.loc[data1['day']==2,['day']]
c4=data1.loc[data1['day']==3,['day']]
print('Thursdays:-',len(c1))
print('Fridays:-',len(c2))
print('Saturdays:-',len(c3))
print('Sundays:-',len(c4))

Thursdays:- 87
Fridays:- 76
Saturdays:- 62
Sundays:- 19

## 4) How many smokers are there

In [29]:
d=data1.loc[data1['smoker']==1,['smoker']]
len(d)

93

## 5) What is the avg tip given by male and female

In [36]:
e1=data1.loc[data1['sex']==0,['tip']]
e2=data1.loc[data1['sex']==1,['tip']]
print('Avg tip by female:-',e1.mean())
print('Avg tip by male:-',e2.mean())

Avg tip by female:- tip    2.833448
dtype: float64
Avg tip by male:- tip    3.089618
dtype: float64

## 6) How much amount have been spent by male and female

In [38]:
f1=data1.loc[data1['sex']==0,['total_bill']]
f2=data1.loc[data1['sex']==1,['total_bill']]
print('sum of amount by female:-',e1.sum())
print('sum of amount by male:-',e2.sum())

sum of amount by female:- tip    246.51
dtype: float64
sum of amount by male:- tip    485.07
dtype: float64

## 7) What is the min and max tip given

In [48]:
g=data1.loc[data1['sex']==0,['tip']]
print('max:- ',g.max(),'\n','min:- ',g.min())

max:-  tip    6.5
dtype: float64
 min:-  tip    1.0
dtype: float64

## 8) How many male and females are going for lunch and dinner

In [27]:
# 0=lunch, 1=dinner
male_l=data1.loc[(data1['sex']==1) & (data1['time']==0),['sex']]
male_d=data1.loc[(data1['sex']==1) & (data1['time']==1),['sex']]
female_l=data1.loc[(data1['sex']==0) & (data1['time']==0),['sex']]
female_d=data1.loc[(data1['sex']==0) & (data1['time']==1),['sex']]
print('male lunch:-',len(male_l))
print('male dinner:-',len(male_d))
print('female lunch:-',len(female_l))
print('female dinner:-',len(female_d))

male lunch:- 124
male dinner:- 33
female lunch:- 52
female dinner:- 35

## 9)Find out the avg size

In [4]:
data1.loc[data1['size'],['size']].mean()

size    3.0
dtype: float64

## 10) How many female smokers are there and males are there

In [25]:
female_smokers = data1.loc[(data1['sex'] == 0) & (data1['smoker'] == 1)]
male_smokers = data1.loc[(data1['sex'] == 1) & (data1['smoker'] == 1)]
print('female',len(female_smokers['sex']))
print('male',len(male_smokers['sex']))

female 33
male 60

# DataSet-2

In [33]:
data2=pd.read_csv(r"C:\Users\hithe\Downloads\train_extended.csv")
data2

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8
...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11

## 1) what is the min and max of length column

In [36]:
z1=data2['Length']
print('Max:-',z1.max())
print('Min:-',z1.min())

Max:- 7.58349125
Min:- 0.0

## 2) Difference between the max and min length of the length coloumn

In [37]:
print('Difference betweee max and min of length:-',z1.max()-z1.min())

Difference betweee max and min of length:- 7.58349125

## 3) Find coloumn wise age

In [38]:
data2['Age']

0         10
1         19
2         11
3          9
4          8
          ..
199995    11
199996     6
199997     7
199998    11
199999    11
Name: Age, Length: 200000, dtype: int64

## 4) Find out all the age whose height is greater than 0.4

In [40]:
data2.loc[data2['Height']>0.4,['Height']]

        Height
2       0.4125
6       0.4375
7       0.4375
10      0.4250
14      0.4750
...        ...
199976  0.4375
199977  0.4125
199984  0.4250
199995  0.4375
199998  0.4125

[55336 rows x 1 columns]

## 5) what is the avg weight and height of whose age is 10

In [45]:
data2.loc[data2['Age']==10,['Height','Weight']].mean()

Height     0.383367
Weight    28.243308
dtype: float64

## 6) What is total of shell weight

In [46]:
data2['Shell Weight'].sum()

1326845.8295214002

## 7) How many persons belong to each and every unique age

In [51]:
pd.unique(data2['Age'])

array([10, 19, 11,  9,  8, 14, 13,  6,  7, 16, 12, 20, 17,  5, 15,  4,  3,
       22, 18, 21,  2, 23, 24, 26, 27,  1, 25, 29], dtype=int64)

## 8) What is the difference between shucked weight and viscera weight

In [55]:
print('difference between shucked weight and viscera weight:-',data2['Shucked Weight'].sum() - data2['Viscera Weight'].sum())

difference between shucked weight and viscera weight:- 999237.8582600503

## 9) What is average height of the persons whose age is between 14 and 19

In [61]:
print('average height of the persons whose age is between 14 and 19:-',data2.loc[(data2['Age']<=14) & (data2['Age']<=19),['Height']].mean())

average height of the persons whose age is between 14 and 19:- Height    0.338741
dtype: float64

## 10) What is the average weight if we include shucked weight and viscera weight and shell weight

In [63]:
print('Avg of:-',data2[['Shucked Weight','Viscera Weight','Shell Weight']].mean())

Avg of:- Shucked Weight    9.989370
Viscera Weight    4.993181
Shell Weight      6.634229
dtype: float64