In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\hithe\Downloads\all_grains_data.csv")
data.head(15)

   ticker commodity        date    open    high     low   close  volume
0    ZC=F      Corn  2000-07-17  182.25  182.25  178.25  179.25   19385
1    ZC=F      Corn  2000-07-18  179.00  183.25  179.00  180.75   25205
2    ZC=F      Corn  2000-07-19  180.00  182.75  178.75  182.00   17126
3    ZC=F      Corn  2000-07-20  181.50  187.00  181.00  186.00   18742
4    ZC=F      Corn  2000-07-21  185.50  188.00  185.00  187.75   16814
5    ZC=F      Corn  2000-07-24  187.75  189.50  183.75  184.50   14615
6    ZC=F      Corn  2000-07-25  183.75  184.50  181.50  182.75   13883
7    ZC=F      Corn  2000-07-26  182.50  183.25  179.25  180.50   14762
8    ZC=F      Corn  2000-07-27  180.50  183.00  180.00  181.00   12353
9    ZC=F      Corn  2000-07-28  181.00  182.50  180.00  180.25   12850
10   ZC=F      Corn  2000-07-31  178.25  182.00  177.00  180.25   19481
11   ZC=F      Corn  2000-08-01  180.25  181.50  179.00  179.75   16626
12   ZC=F      Corn  2000-08-02  179.75  182.00  179.50  180.50   15230
13   ZC=F      Corn  2000-08-03  180.25  182.25  178.50  180.00   15137
14   ZC=F      Corn  2000-08-04  179.50  180.50  178.50  178.75   12389

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

### 1) Which commodity was having the highest opening price for the day

In [5]:
data.loc[data['open']==data['open'].max(),['commodity','open']]

        commodity    open
19437  Rough Rice  2435.0

### 2) Which commodity price reached  maximum during the trading session.

In [6]:
data.loc[data['high']==data['high'].max(),['commodity','high']]

        commodity    high
19437  Rough Rice  2468.5

### 3) What is the average Market's opening price for the Oat in 2010

In [8]:
data["date"]=pd.to_datetime(data["date"])
data.loc[(data["date"].dt.year==2010) & (data["commodity"]=="Oat"),["open"]].mean()

open    275.116071
dtype: float64

### 4) What is the maximum and minimum Number of contracts traded during the 2009

In [17]:
print('maximum number of contracts traded during the 2009',data.loc[data['date'].dt.year==2009,['volume']].max())
print('minimum number of contracts traded during the 2009',data.loc[data['date'].dt.year==2009,['volume']].min())

maximum number of contracts traded during the 2009 volume    252221
dtype: int64
minimum number of contracts traded during the 2009 volume    0
dtype: int64

### 5) Which year have  maximum and minimum Number of contracts traded

In [11]:
print('Maximum',data.loc[data['volume']==data['volume'].max(),['date']])
print('Minimum',data.loc[data['volume']==data['volume'].min(),['date']])

Maximum            date
4216 2017-06-07
Minimum             date
821   2003-12-11
1328  2005-12-13
4486  2018-07-03
4528  2018-08-31
5682  2023-04-06
...          ...
29219 2001-03-13
30306 2005-07-12
33573 2018-07-03
33615 2018-08-31
34771 2023-04-06

[2812 rows x 1 columns]

### 6) Which commodity have the average lowest opening price around 2001 to 2005

In [40]:
b=data.loc[(data['date'].dt.year>=2001) & (data['date'].dt.year<=2005),['commodity','open']]
b.groupby('commodity')['open'].min()
b.min()

commodity    Corn
open         14.4
dtype: object

### 7) Which commodity have the best average  Market's closing price

In [33]:
a=data.groupby("commodity")['close'].mean()
a.idxmax()

'Rough Rice'

In [18]:
data['commodity'].unique()

array(['Corn', 'Oat', 'KC HRW Wheat', 'Rough Rice', 'Soybean Oil',
       'Soybean'], dtype=object)

In [21]:
print('Corn',data.loc[data['commodity']=='Corn',['close']].mean())
print('Oat',data.loc[data['commodity']=='Oat',['close']].mean())
print('KC HRW Wheat',data.loc[data['commodity']=='KC HRW Wheat',['close']].mean())
print('Rough Rice',data.loc[data['commodity']=='Rough Rice',['close']].mean())
print('Soybean Oil',data.loc[data['commodity']=='Soybean Oil',['close']].mean())
print('Soybean',data.loc[data['commodity']=='Soybean',['close']].mean())

Corn close    409.404772
dtype: float64
Oat close    278.657674
dtype: float64
KC HRW Wheat close    563.693282
dtype: float64
Rough Rice close    1143.607925
dtype: float64
Soybean Oil close    36.820361
dtype: float64
Soybean close    998.015728
dtype: float64

### 8) Which year corn have the highest and lowest Number of contracts traded

In [50]:
print('Highest',data.loc[data['commodity']=='Corn',['volume','date']].max())
print('Lowest',data.loc[data['commodity']=='Corn',['volume','date']].min())

Highest volume                 523849
date      2023-09-15 00:00:00
dtype: object
Lowest volume                      0
date      2000-07-17 00:00:00
dtype: object