In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\hithe\Downloads\cleaned_all_phones.csv")
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [3]:
data['announcement_date']=pd.to_datetime(data['announcement_date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   datetime64[ns]
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 156.6+ KB

### 1) How many unique  mobile brands are there in the data provided

In [34]:
len(data['brand'].unique())

13

### 2) What is the average ram size of all the collected data

In [35]:
data['ram(GB)'].mean()

6.6838624338624335

### 3) Which phone is having the maximum and minimum battery capacity

In [69]:
data.loc[data['battery']==data['battery'].max(),['phone_name','battery']]

    phone_name  battery
573         V6     7250

In [70]:
data.loc[data['battery']==data['battery'].min(),['phone_name','battery']]

           phone_name  battery
62           iPhone 8     1821
536  iPhone SE (2020)     1821

### 4) What is the maximum battery capacity provided by Huawei Company

In [10]:
huawei_data = data[data['brand'] == 'Huawei']
max_battery_huawei = huawei_data['battery'].max()
max_battery_huawei

7000

### 5) Which Phone brand is providing the highest and lowest ram

In [90]:
data.loc[data['ram(GB)']==data['ram(GB)'].min(),['brand','ram(GB)']]

       brand  ram(GB)
27    Huawei        1
28   Samsung        1
69   Samsung        1
133   Huawei        1
182  Samsung        1
230  Samsung        1
236   Huawei        1
244   Xiaomi        1
304  Samsung        1
363       LG        1
550  Samsung        1

In [4]:
data.loc[data['ram(GB)']==data['ram(GB)'].max(),['brand','ram(GB)']]

        brand  ram(GB)
1505   Xiaomi       24
1506  OnePlus       24
1510   Realme       24

### 6) How many phones has android 7.0 as there operating system

In [87]:
data.loc[data['os']=='Android 7.0',['phone_name']].count()

phone_name    33
dtype: int64

### 7) Which Phone is the oldest

In [96]:
data.loc[data['announcement_date']==data['announcement_date'].min(),['phone_name','announcement_date']]

     phone_name announcement_date
0  Y6II Compact        2016-09-01

### 8) Which brand produced maximum number of phone in the given data

In [14]:
data['brand'].mode()

0    Xiaomi
Name: brand, dtype: object

### 9) Give the count of phones supporting

### 4K

In [104]:
data.loc[data['video_4K']==True,['phone_name']].count()

phone_name    801
dtype: int64

### 8K

In [111]:
data.loc[data['video_8K']==True,['phone_name']].count()

phone_name    86
dtype: int64

### 2K

In [112]:
data.loc[data['video_1080p']==True,['phone_name']].count()

phone_name    1503
dtype: int64

### 10) How many phones supports Li-Po and Li-ion Battery

In [20]:
print('Phones support Li-po battery',data.loc[(data['battery_type']=='Li-Po'),['phone_name']].count())
print('Phones support Li-ion battery',data.loc[(data['battery_type']=='Li-ion'),['phone_name']].count())

Phones support Li-po battery phone_name    1242
dtype: int64
Phones support Li-ion battery phone_name    0
dtype: int64

### 11) How many sony phones supports 720x1280 resolution

In [21]:
No data

SyntaxError: invalid syntax (1313755332.py, line 1)

### 12) Print a pivot table for finding the average weights ,total weights,based on brand and battery type

In [23]:
pd.pivot_table(data,index='brand',columns='battery_type',values='weight(g)',aggfunc=['mean','sum'])

                    mean                  sum
battery_type      Li-Ion       Li-Po   Li-Ion    Li-Po
brand
Apple         186.227273         NaN   4097.0      NaN
Google        190.666667  176.923077   1144.0   2300.0
Honor         165.333333  190.611570    496.0  23064.0
Huawei        158.354839  187.556604   4909.0  19881.0
LG            154.851852  183.812500   4181.0   8823.0
Lenovo        190.142857  218.586207   2662.0   6339.0
OnePlus              NaN  191.553191      NaN   9003.0
Oppo          157.833333  183.174603   3788.0  34620.0
Realme        166.833333  189.688742   1001.0  28643.0
Samsung       178.531250  196.727273  17139.0  21640.0
Sony          177.333333  178.769231   4256.0   2324.0
Vivo                 NaN  190.232143      NaN  31959.0
Xiaomi        179.294118  195.906883   3048.0  48389.0